! ____ _______   ______  __  __    _    _   _ 
!/ ___|_   _\ \ / /  _ \|  \/  |  / \  | \ | |
!\___ \ | |  \ V /| |_) | |\/| | / _ \ |  \| |
! ___) || |   | | |  _ <| |  | |/ ___ \| |\  |
!|____/ |_|   |_| |_| \_\_|  |_/_/   \_\_| \_|
!
! https://github.com/styrman-g
! My Xresources file, Feel free to take a copy of it._____________________________________________

URxvt*imLocale: sv_SE.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:Mononoki Nerd Font:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12   
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

URxvt*geometry:80x240+0+0

!! URxvt: Extensions
URxvt.perl-ext-common: url-select,keyboard-select,resize-font,matcher,selection-to-clipboard,readline,
!! VI mode
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! URxvt: Resize-font
URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-plus:   resize-font:bigger
URxvt.keysym.C-equal:   resize-font:equal

! Palenight Xresources palette
!! COLORS

URxvt*depth: 32
URxvt*foreground:   #bbc5ff
URxvt*background:   [80]#282a36
URxvt*cursorColor:  #bbc5ff
!!
XTerm*foreground: #bbc5ff
XTerm*background: #282a36
XTerm*cursorColor: #bbc5ff
!!
!!! black
*.color0:       #101010  !! originally #292d3e
*.color8:       #434758
!!
!!! red
*.color1:       #f07178
*.color9:       #ff8b92
!!
!!! green
*.color2:       #c3e88d
*.color10:      #ddffa7
!!
!!! yellow
*.color3:       #ffcb6b
*.color11:      #ffe585
!!
!!! blue
*.color4:       #82aaff
*.color12:      #9cc4ff
!!
!!! magenta
*.color5:       #c792ea
*.color13:      #e1acff
!!
!!! cyan
*.color6:       #89ddff
*.color14:      #a3f7ff
!!
!!! white
*.color7:       #d0d0d0
*.color15:      #ffffff
                                             
